.source.ruby {

  .constant {
    &.boolean {
      color: @base0A;
    }
  }

  .entity {
    &.function.ruby {
      color: @base0E;
    }
  }

  .keyword {

    &.operator {
      color: @base01;

      &.assignment {
        color: @base0D;
      }

      &.comparison {
        color: @base0F;
      }
    }
  }

}
