@base00: hsl(204, 10%, 16%); // black
@base01: mix(@base00, @base07, 84%);
@base02: mix(@base00, @base07, 68%);
@base03: mix(@base00, @base07, 50%);
@base04: mix(@base00, @base07, 35%);
@base05: mix(@base00, @base07, 20%);
@base06: mix(@base00, @base07, 5%);
@base07: hsl(204, 10%, 95%); // white
@base08: hsl(4, 60%, 42%); // red
@base09: hsl(22, 50%, 44%); // orange
@base0A: hsl(44, 60%, 42%); // gold
@base0B: hsl(144, 50%, 35%); // green
@base0C: hsl(184, 32%, 38%); // bluegreen
@base0D: hsl(204, 50%, 42%); // blue
@base0E: hsl(225, 35%, 45%); // violet
@base0F: hsl(285, 25%, 40%); // purple
